:root{
    --fsb-main-color: #00a2ff;
    --fsb-secondary-color: #ff0000;
    --fsb-text-color: #f5f5f5;
    --fsb-secondary-text-color: #0000;
    --fsb-navbar-color: #00157b;
    --fsb-gradient-start: #00157b; /* Dark blue */
    --fsb-gradient-end: #00a2ff; /* Light blue */
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}

body{
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    box-sizing: border-box;
    transition: background-color 0.5s;
}

.nav-links{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: end;
    gap: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.nav-links .nav-link:first-child{
    margin-right: auto;
}

.home-icon, .movie-icon, .series-icon, .book-icon, .add-icon, .user-icon{
    position: relative;
    top: 0.3rem;
    right: 5px;
    padding: 5px;
}

.nav-container a, .menu{
    text-decoration: none;
    color: var(--fsb-text-color);
    padding: 0.5rem;
}

.nav-container{
    padding: 2rem;
    background-color: var(--fsb-navbar-color);
    font-weight: 700;
    box-shadow: 0 0 30px var(--fsb-secondary-color);
    position: relative;
}

.nav-container a:hover, .menu:hover{
    background-color: white;
    border-radius: 2rem;
    color: black;
}

.active a{
    background-color: white;
    border-radius: 2rem;
    color: black;
}

.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--fsb-navbar-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--fsb-text-color);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--fsb-secondary-color);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
}

#logout {
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.edit-button, .delete-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
}

.edit-button {
    background-image: linear-gradient(to right, #45a049, #00a2ff, #00157b);
    color: white;
}

.edit-button:hover {
    background-image: linear-gradient(to right, #07660c, #0068a4, #010f57);
}

.delete-button {
    background-image: linear-gradient(to right, #da190b, #ff00e1, #1e00a3);
    color: white;
}

.delete-button:hover {
    background-image: linear-gradient(to right, #860900, #960085, #120062);
}

.popover{
    display: none;
    position: fixed;
    z-index: 1;
    padding: 100px 0 0 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}

.popover-content{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}